%span{:id => "ranking_#{ranking_id}_record_#{record_id}"}
  = link_to("^", rank_up_ranking_element_path(:ranking_id => ranking_id, :record_id => record_id, :id => :foo), :method => :put)
  = link_to("j", rank_down_ranking_element_path(:ranking_id => ranking_id, :record_id => record_id, :id => :foo), :method => :put)
  = "##{position}"
