%h1 Create a document
= form_for UserDocument.new do |f|
  #new_doc_name
    Name:
    = text_field_tag "document[name]"
    Is about?
    = check_box_tag "document[is_about]"

  #new_doc_about
    About:
    = hidden_field_tag :entity_id, @entity ? @entity.id : '', id: "document_entity_id"
    = autocomplete_field_tag :document_entity_name, @entity ? @entity.name(current_user, current_language) : '', autocomplete_name_value_entities_path, size: 40, id: "new_document_entity_name_field", id_element: "#document_entity_id"

  Document type:
  = select_tag "document_type_id", options_for_select(DocumentType::MAP)

  #new_doc_description_text Description:
  #new_doc_description_field= text_area_tag "document[description]", nil, :size => "60x6"

  #new_doc_content_text Content:
  #new_doc_content_field= f.text_area :content, :size => "60x27"

  #new_doc_submit_button
    = f.submit "Create document"
