- if editable_name
  = best_in_place entity, :name
  = link_to "[s]", entity
- else
  = link_to entity.name, entity_path(entity, filter: params[:filter])
- if can_change_parent
  = link_to_function "[a]", "toggle_visibility('change_entity_parent_#{entity.id}');"
