.entity_leaf
  = "|"*(nested = (local_assigns.has_key?(:nested) ? nested : 0))
  - if opened_entities[enity.name]
    = link_to("-", {:controller => :entities, :action => :toggle_off, :entity_name => entity.name, :id => entity.id}, {:method => :put})
    = render :partial => "entities/entity_leaf_link", :locals => {:entity => entity, :editable_name => editable_name}
    = render :partial => "entities/entity_leaf", :collection => entity.entities, :locals => {:nested => nested+1, :editable_name => editable_name}
  - else
    = link_to("+", {:controller => :entities, :action => :toggle_on, :entity_name => entity.name, :id => entity.id}, {:method => :put})
    = render :partial => "entities/entity_leaf_link", :locals => {:entity => entity, :editable_name => editable_name}
