.entity_leaf{id: "entity_leaf_#{entity_leaf.id}"}
  - entity_limit = 15
  = render :partial => "entities/entity_leaf_link", locals: {entity: entity_leaf, editable: editable, opened: opened_entities[entity_leaf.id], nested: local_assigns.has_key?(:nested) ? nested : 0}
  - if opened_entities[entity_leaf.id]
    = show_limited_results entity_leaf.entities, limit: 15, more_message: "#{entity_leaf.entities.size - entity_limit} more entities." do |child|
      = render :partial => "entities/entity_leaf", :locals => {:nested => local_assigns.has_key?(:nested) ? nested+1 : 1, :editable => editable, :entity_leaf => child}
  - if editable && editable != 'false'
    .change_entity_parent{:id => "change_entity_parent_#{entity_leaf.id}"}
      = "|"*(nested+1)
      = form_tag(change_parent_entities_path(format: :js, nested: nested), method: :put, remote: true) do
        %span.fields
          = autocomplete_field_tag :name, '', autocomplete_entity_name_entities_path, :size => 15
          = hidden_field_tag(:parent_id, entity_leaf.id)
        %span.actions
          = submit_tag "Change parent"
