= form_for(e = Entity.new) do |f|
  .fields
    = f.hidden_field :parent_id, :value => parent.id
    = hidden_field_tag :entity_id, '', id: "entity_to_change_parent_id"
    .field_name
      = f.label :name
      = autocomplete_field_tag "name", '', autocomplete_name_value_entities_path, id: "create_entity_name_field", id_element: "#entity_to_change_parent_id"
  .actions
    = f.submit "Change parent"
    = f.submit "Create Sub-Entity"
