- name = entity.name(current_user, current_language)
= content_tag_for :span, name do
  = toggle_block_if false, toggle_handle: image_tag("edit_button.png"), toggled_handle: "cancel" do |visible|
    - if visible
      = link_entity && link_entity != "false" ? link_to_entity(entity) : name.pretty_value
    - else
      = form_for name, :remote => true, :format => :js do |f|
        = hidden_field_tag :link_entity, link_entity
        = f.autocomplete_field :value, autocomplete_name_value_entities_path, :value => name.pretty_value, :size => 12
        = f.submit "Set"
  - unless name.language_id == current_language.id or name.language_id == Language::MAP[:universal].id
    <span class="exception_star" title="This is the english name. Click to enter the french name.">*</span>
