%div{:id => "#{entity.name(current_language)}_ranking", :style => "display: inline;"}
  = show_limited_results(records, local_assigns.merge(class: listing_type == ListingType::EXPANDED ? "entity_expanded" : nil)) do |record|
    = capture(record, &block)
- if ranking_type == RankingType::USER && listing_type != ListingType::EXPANDED
  = sortable_element("#{entity.name(current_language)}_ranking", :url => sort_path(:elements => "#{entity.name(current_language)}_ranking", :ranking_id => @ranking.id), :tag => :div, :scroll => "window")
