#browsing_entities
  = link_to "Back", :back
  |
  = link_to "Next", @entity
  |
  = link_to "Previous", @entity
  \----------
  = join(@entity.ancestors.reverse, " > ") do |e|
    = link_to e.name, e.parent
#images
  - @entity.images.each do |image|
    .image
      = image_tag image.image.to_s
  .add_image
    = toggle_visibility "Add an image.." do
      = form_for [@entity, Image.new], html: {multipart: true} do |f|
        %p= f.file_field :image
        %p
          = f.label :remote_image_url, "or image URL"
          = f.text_field :remote_image_url
        %p= f.submit "Add image"
#entity
  #entity_title
    = content_for :left_sidebar do
      #create_document
        = link_to "Create a document", new_document_path(:entity_id => @entity.id)
    
    %h1.entity_name{:style => "font-size: 32;"}= @entity.name
    = link_to "destroy", @entity, :method => :delete, :confirm => "Are you sure?"
    %br
    - for tag in @entity.tags
      = render :partial => tag
    = render :partial => "entities/add_tag_form"
  #documents
    = render :partial => @entity.documents[0..3]
  = toggle_visibility "Add a document.." do
    = render :partial => "documents/form"
  = link_to "Create a document..", new_document_path
#sub_entities
  = render :partial => "index"
