= content_for :left_sidebar do
  - if data_mode?
    #association_definitions
      Association definitions:
      = render partial: @entity.all_association_definitions(current_user)
      = render partial: "association_definitions/form", locals: {:entity => @entity}
  -##components
  -#  Components:
  -#  - unless @entity.is_component?
  -#    - for component in Component.components_for(@entity, current_user)
  -#      .component_value
  -#        - if (component_value = component.entities.find_by_parent_id(@entity.id))
  -#          = hover_block do
  -#            = link_to component_value.name(current_user, current_language), component_value
  -#            - if component.entity_id == @entity.id
  -#              = hover_hidden do
  -#                = render partial: "delete_requests/link", locals: {destroyable: component, link: image_tag("delete_button_14_px.png")}
  -#        - else
  -#          - missing_name = component.associated_entity.name(current_user, current_language)
  -#          %span.missing= link_to missing_name, entities_path(entity: {:parent_id => @entity.id, :component_id => component.id}, name: missing_name.value, show: true), method: :post
    = render partial: "components/form", locals: {entity: @entity}
  #documents_form= render partial: "documents/form", locals: {entity: @entity}
  #refine_entity_search
    - if !@entity.all_association_definitions(current_user).blank?
      Refine further :
      = form_tag(entity_path(@entity), method: :get) do
        = render partial: "association_definitions/refine_form"
        = submit_tag "Refine"

#browsing_entities
  = link_to "Back", :back
  |
  = link_to "Next", @entity
  |
  = link_to "Previous", @entity
  \----------
  = (@entity.ancestors.map {|e| link_to_entity(e)}).join(" > ").html_safe
#entity{:entity_id => @entity.id}
  #entity_parents_by_definition
    = render partial: @entity.parents_by_definition | @entity.associated_parents_by_definition, locals: {show_pictures: false, show_nested: false}
  #entity_title
    #entity_name= render partial: "name", locals: {entity: @entity, link_entity: false}
    = render partial: "delete_requests/link", locals: {destroyable: @entity}
  = render partial: "entities/documents", locals: {per_page: @printer.num_documents, entity: @entity}
  - unless @entity.is_intermediate
    #associations
      - associations_by_definition(@entity, @entities).each do |definition, associations|
        .association_by_definition= render partial: "associations/association_list", locals: {definition: definition, associations: associations, entity: @entity}
  #entities
    = render partial: "entities/entities"
  = render :partial => "entities/form", locals: {parent: @entity}
#content_sidebar
  #images
    = render partial: "entities/images"
