= content_for :left_sidebar do
  #refine_document_filter
    Filter doc type:
    .editable
      = cache('document_type_filter') do
        = toggle_visibility toggle_handle: document_type_filter ? document_type_filter.name : "none", toggled_handle: "cancel" do
          = form_tag change_document_type_filter_sessions_path, method: :get do
            = select :document_type_filter, :id, (DocumentType::ALL.map{|d| [d.name, d.id] }).insert(0, ["No filter", ''])
            = submit_tag "Set"
  - if data_mode?
    #association_definitions
      Association definitions:
      = render partial: DeleteRequest.alive_scope(@entity.association_definitions, current_user), locals: {inversed: false}
      = render partial: DeleteRequest.alive_scope(@entity.associated_association_definitions, current_user), locals: {inversed: true}
      = render :partial => "association_definitions/form", :locals => {:entity => @entity}
  #components
    Components:
    - unless @entity.is_component?
      - for component in Component.components_for(@entity, current_user)
        .component_value
          - if (entity = component.entities.find_by_parent_id(@entity.id))
            = link_to_entity entity
            - if component.entity_id == @entity.id
              = render partial: "delete_requests/link", locals: {destroyable: component}
          - else
            - missing_name = component.associated_entity.name(current_user, current_language)
            %span.missing= link_to missing_name, entities_path(entity: {:parent_id => @entity.id, :component_id => component.id}, name: missing_name, show: true), method: :post
    = render partial: "components/form", locals: {entity: @entity}
  #refine_entity_search
    - if !@entity.association_definitions.blank? || !@entity.associated_association_definitions.blank?
      Refine further :
      = form_tag(entity_path(@entity), method: :get) do
        = render partial: "association_definitions/refine_form", locals: {inversed: false}
        = render partial: "association_definitions/refine_form", locals: {inversed: true}
        = submit_tag "Refine"
  -#browse_entities
    Browse entities
    = render :partial => "entities/entity_leaf", locals: {editable: false, entity_leaf: @entity.parent_id.blank? ? @entity : @entity.parent}

#browsing_entities
  = link_to "Back", :back
  |
  = link_to "Next", @entity
  |
  = link_to "Previous", @entity
  \----------
  = (@entity.ancestors.map {|e| link_to_entity(e)}).join(" > ").html_safe
#entity
  #entity_parents_by_definition
    = render partial: @entity.parents_by_definition | @entity.associated_parents_by_definition, locals: {show_pictures: false, show_nested: false}
  #entity_title
    #entity_name= render partial: "name", locals: {entity: @entity, link_entity: false}
    = render partial: "delete_requests/link", locals: {destroyable: @entity}
  #documents= render partial: DeleteRequest.alive_scope(@entity.documents.where(:language_id => current_language.id).where(document_type_filter.blank? ? {} : {:document_type_id => document_type_filter.id}), current_user)[0..(@printer.num_documents - 1)]
  = render :partial => "documents/form"
  or
  = link_to "Create a document", new_document_path(entity_id: @entity.id)
  #associations
    - associations_by_definition(@entity).each do |definition, associations|
      .association_by_definition= render partial: "associations/association_list", locals: {definition: definition, associations: associations, entity: @entity, inversed: false}
    - associated_associations_by_definition(@entity).each do |definition, associations|
      .association_by_definition= render partial: "associations/association_list", locals: {definition: definition, associations: associations, entity: @entity, inversed: true}
  #entities
    = render partial: @entities
    = will_paginate @entities
  = render :partial => "entities/form", locals: {parent: @entity}
#content_sidebar
  - DeleteRequest.alive_scope(@entity.images, current_user)[0..4].each do |image|
    .image
      = hover_block :rating do
        = render partial: "ratings/rankable", locals: {rankable: image}
      = render partial: "delete_requests/link", locals: {destroyable: image, link: image_tag("delete_button_15_px.png")}
      .the_image= image_tag image.image_url(:big_thumb).to_s
  = render partial: "entities/add_image_form", locals: {entity: @entity}
  -#components_values= render partial: @entity.map_all(:parent, :components) if @entity.is_leaf
