= content_for :left_sidebar do
  #index_entities
    #search_entity_sidebar_text What are you looking for?
    = render :partial => "entities/search"
  -##entity_subentities
    Subentities:
    = render partial: "subentities/subentity_link", collection: @entity.subentities
    = render :partial => "subentities/form", :locals => {:entity => @entity}
  #association_definitions
    Association definitions:
    = render partial: @entity.association_definitions, locals: {inversed: false}
    = render partial: @entity.associated_association_definitions, locals: {inversed: true}
    = render :partial => "association_definitions/form", :locals => {:entity => @entity}
  #components_definitions
    Components definitions:
    = render partial: @entity.components.keep_if {|c| !destroyable_deleted?(c)}
    = render partial: "components/form", locals: {entity: @entity}
  #components
    Components:
    - unless @entity.is_component?
      - for component in @entity.map_all(:parent, false, &:components)
        .component_value
          - if (entity = component.entities.find_by_parent_id(@entity.id))
            = link_to_entity entity
          - else
            %span.missing= link_to entity_name(component.associated_entity), entities_path(entity: {:parent_id => @entity.id, "names[][language_id]" => current_language.id,
              "names[][value]" => entity_name(component.associated_entity), :component_id => component.id}, :show => true), method: :posth
  #refine_entity_search
    - if !@entity.association_definitions.blank? || !@entity.associated_association_definitions.blank?
      Refine further :
      = form_tag(entity_path(@entity), method: :get) do
        = render partial: "association_definitions/refine_form", locals: {inversed: false}
        = render partial: "association_definitions/refine_form", locals: {inversed: true}
        = submit_tag "Refine"
  -#browse_entities
    Browse entities
    = render :partial => "entities/entity_leaf", locals: {editable: false, entity_leaf: @entity.parent_id.blank? ? @entity : @entity.parent}

= javascript_include_tag 'entities'

#browsing_entities
  = link_to "Back", :back
  |
  = link_to "Next", @entity
  |
  = link_to "Previous", @entity
  \----------
  = join(@entity.map_all(:parent, false).reverse, " > ") do |e|
    = link_to_entity e
#entity
  #entity_parents_by_definition
    = render partial: @entity.parents_by_definition | @entity.associated_parents_by_definition, locals: {show_pictures: false}
  #entity_title
    #entity_name.entity_name= best_in_place_entity_name(@entity)
    = render partial: "delete_requests/link", locals: {destroyable: @entity}
  #refine_document_filter
    Filter by document type:
    = best_in_place_filter documents_filter, :document_type_id, (DocumentType::ALL.map{|d| [d.id, d.name] }).insert(0, ['', "No filter"]), "documents_filter", nil: "No filter"
  #documents= render partial: (@entity.documents.where(:language_id => current_language.id).where(documents_filter.attributes).keep_if {|d| !destroyable_deleted?(d)})[0..(@printer.num_documents - 1)]
  = render :partial => "documents/form"
  or
  = link_to "Create a document", new_document_path(entity_id: @entity.id)
  #associations
    - associations_by_definition(@entity).each do |definition, associations|
      .association_by_definition= render partial: "associations/association_list", locals: {definition: definition, associations: associations, entity: @entity, inversed: false}
    - associated_associations_by_definition(@entity).each do |definition, associations|
      .association_by_definition= render partial: "associations/association_list", locals: {definition: definition, associations: associations, entity: @entity, inversed: true}
  #entities
    = rankable_list @entity, @entities, :limit => 20 do |entity|
      = render :partial => entity
  = render :partial => "entities/form", locals: {parent: @entity}
#content_sidebar
  - @entity.images.each do |image|
    .image= image_tag image.image_url(:big_thumb).to_s
  = render partial: "entities/add_image_form"
  -#components_values= render partial: @entity.map_all(:parent, :components) if @entity.is_leaf
