= content_for :left_sidebar do
  #index_entities
    #search_entity_sidebar_text What are you looking for?
    = render :partial => "entities/search"
  #entity_components
    Components:
    = render partial: "components/component_link", collection: @entity.components
    = render :partial => "components/form", :locals => {:entity => @entity}
  #browse_entities
    Browse entities
    = render :partial => "entities/entity_leaf", locals: {editable: false, entity_leaf: @entity.parent_id.blank? ? @entity : @entity.parent}

= javascript_include_tag 'entities'

#browsing_entities
  = link_to "Back", :back
  |
  = link_to "Next", @entity
  |
  = link_to "Previous", @entity
  \----------
  = join(@entity.ancestors.reverse, " > ") do |e|
    = link_to e.name, e
#images
  - @entity.images.each do |image|
    .image= image_tag image.image.to_s
  = render partial: "entities/add_image_form"
#entity
  #refine_document_filter
    #language_filter
      Filter by language:
      %span.editable= best_in_place filterer, :language_id, type: :select, collection: (Language.all.sort_by(&:name).map{|l| [l.id, l.name] }).insert(0, ['', "No filter"]), path: {controller: "sessions", action: "update", model: "filterer"}, nil: "No filter"
    #document_type_filter
      Filter by document type:
      %span.editable= best_in_place filterer, :document_type_id, type: :select, collection: (DocumentType.all.sort_by(&:name).map{|d| [d.id, d.name] }).insert(0, ['', "No filter"]), path: {controller: "sessions", action: "update", model: "filterer"}, nil: "No filter"
  #entity_title
    %h1.entity_name{:style => "font-size: 32;"}= @entity.name
    = link_to "destroy", @entity, :method => :delete, :confirm => "Are you sure?"
  #components_values= render partial: @entity.all_components if @entity.entities.blank?
  #documents= render partial: @entity.documents.where(filterer.filter_attributes)[0..3]
  = render :partial => "documents/form"
  or
  = link_to "Create a document", new_document_path
#sub_entities= render :partial => "index"
