%h1 Sign Up

= form_for @user do |f|
  = f.hidden_field :is_ip_address, :value => false
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p.button= f.submit
