%h1 Sign Up

= form_for @user do |f|
  - if @user.errors.any?
    #flasherror
      - @user.errors.full_messages.each do |msg|
        = msg
  %p
    Pseudo : (is publicly available)
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %p
    = recaptcha_tags 
  %p.button= f.submit
