= content_tag_for :div, document do
  = hover_block do
    .document_type
      - document_type = EditRequest.probable_editable(document.possible_document_types, current_user)
      = toggle_visibility toggle_handle: document_type ? document_type.document_type.name : "Unkown", toggled_handle: "cancel" do
        = form_for [document, PossibleDocumentType.new], format: :js, remote: true do |f|
          = select :possible_document_type, :document_type_id, DocumentType.all.sort_by(&:name).map{|d| [d.name, d.id] }, nil: "Unkown"
          = f.submit "Set"
    .document_name= link_to document.name, document.source, class: "document_name"
    = render partial: "ratings/rankable", locals: {rankable: document}
    = hover_hidden do
      = render partial: "delete_requests/link", locals: {destroyable: document, link: image_tag("delete_button_14_px.png")}
  .description= document.description[0..200] + "..."
