= form_for(Document.new) do |f|
  #fields
    = f.label :name
    = f.text_field :name
    
    %br
    = f.label :source
    = f.text_field :source
    
    = hidden_field_tag :entity_id, @entity.id
  
  #actions
    = f.submit
