#link_to_back= link_to "Back to parent", @document.entities.blank? ? @document.parent : @document.entities.first
#document_title= best_in_place @document, :name
- if @document.description.blank?
  = toggle_visibility :toggle_handle => "Add a description.", :toggled_handle => "cancel" do
    = form_for @document do |f|
      #document_description= f.text_area :description
      = f.submit "Add description"
- else
  #document_description= best_in_place @document, :description, type: :textarea
= render partial: @document.documentable_type == 'ListingDocument' ? @document.documents : @document.documents.order('rank DESC')
= toggle_visibility toggle_handle: "Add a sub-document.", toggled_handle: "cancel" do
  #add_sub_document
    Remote document
    = render partial: "remote_documents/form", locals: {document: @document, remote: false}
    #add_new_sub_document
      or create new document
      = form_for UserDocument.new do |f|
        = hidden_field_tag "document[parent_document_attributes][parent_id]", @document.id
        #new_document_name
          Name:
          = text_field_tag "document[name]"
        #submit= f.submit "Create document"
    or
    = render partial: "documents/upload", locals: {document: @document}
- unless @document.documentable_type == "ListingDocument"
  -#document_content= best_in_place @document.documentable, :content, type: :textarea, display_with: :simple_format, nil: No desc
  - if @document.documentable.content.blank?
    #document_content_form
      = toggle_visibility :toggle_handle => "Add content.", :toggled_handle => "cancel" do
        = form_for @document.documentable do |f|
          #document_content= f.text_area :content
          = f.submit "Add content"
  - else
    #document_content= best_in_place @document.documentable, :content, type: :textarea, display_with: :simple_format
