%h1= @tag.name.capitalize
#summary
  %h2 Summary
  There is #{@tag.entities.count} entities who are #{@tag.full_name.pluralize}.
#sources
  %h2 Sources
  = "There is currently no sources for this tag." if @tag.sources.blank?
  - for source in @tag.sources
    .source
      = source.url
  #add_source
    = form_for([@tag, Source.new]) do |f|
      Url:
      = f.text_field :url
      = f.submit "Add source"
