- associations_by_entity = Hash[associations.map {|a| [a.associated_entity.id, a] }]
- features = features_for_associations(associations, entity, definition)
.definition{id: "definition_#{definition.id}"}
- if features.size > 0 || data_mode?
  - if definition.associated_entity.is_intermediate
    %table
      - definitions = definition.associated_entity.all_association_definitions(current_user)
      - definitions = definitions.keep_if {|d| d.associated_entity_id != definition.entity_id }
      %tr
        - definitions.each do |intermediate_def|
          %th= link_to_entity intermediate_def.associated_entity
      - features[0..2].each do |feature|
        %tr= render partial: "entities/intermediate_entity", locals: {entity: feature, entity_showed: entity, definitions: definitions}
    - if features.size > 3
      = toggle_visibility toggle_handle: "See more..", toggled_handle: "See less.." do
        %table
          - features[3..-1].each do |feature|
            %tr= render partial: "entities/intermediate_entity", locals: {entity: feature, entity_showed: entity, definitions: definitions}
  - else
    - raw_name = definition.associated_entity.name(current_user, current_language).value
    - name = definition.entity_has_many ? raw_name.pluralize : raw_name
    %span.association_definition_name= link_to name, definition.associated_entity
    \:
    = toggle_block handle: "Expand.." do |not_expanded|
      = show_more_records features, limit: 3 do |feature, is_more|
        - content_tag (is_more ? :div : :span) do
          - if not_expanded
            = render partial: "associations/entity", locals: {entity: feature, association: associations_by_entity[feature.id]}
          - else
            = render partial: feature
  - if definition.entity_has_many || features.blank?
    - if definition.associated_entity.is_intermediate
      -# FIXME: Use link_to_insert instead.
      = toggle_visibility toggle_handle: "Add", toggled_handle: "cancel" do
        = render(partial: "associations/intermediate_form", locals: {:entity => entity, definition: definition})
    - else
      = link_to_insert "Add", render(partial: "associations/form", locals: {:entity => entity, definition: definition}), "#definition_#{definition.id}"
