= content_tag_for :div, definition do
  - definition_entity = inversed ? definition.entity : definition.associated_entity
  .association_definition_name= link_to definition_entity.name, definition_entity # TODO: Pluralize if has_many
  - position = 0
  - for association in associations
    = render partial: inversed ? association.entity : association.associated_entity, locals: {position: position += 1, association: association}
- if (inversed ? definition.associated_entity_has_many : definition.entity_has_many) || associations.blank?
  = link_to_insert "Add", render(partial: "associations/form", locals: {:entity => entity, definition: definition, inversed: inversed}), "#association_definition_#{definition.id}"
