- id = "definition_#{definition.id}_#{inversed ? "i" : "n"}"
.definition{id: id}
  - definition_entity = inversed ? definition.entity : definition.associated_entity
  - name = (inversed ? definition.associated_entity_has_many : definition.entity_has_many) ? entity_name(definition_entity).pluralize : entity_name(definition_entity)
  %span.association_definition_name= link_to name, definition_entity
  \:
  = toggle_block handle: "See more.." do |visible|
    - if visible
      - for association in associations[0..2]
        = render partial: "associations/entity", locals: {inversed: inversed, entity_showed: entity, association: association, definition_entity: definition_entity}
    - else
      - for association in associations
        .more_association_entity= render partial: "associations/entity", locals: {inversed: inversed, entity_showed: entity, association: association, definition_entity: definition_entity}
- if (inversed ? definition.associated_entity_has_many : definition.entity_has_many) || associations.blank?
  = link_to_insert "Add", render(partial: "associations/form", locals: {:entity => entity, definition: definition, inversed: inversed}), "##{id}"
