- entity = inversed ? association.entity : association.associated_entity
.entity_name= link_to entity.name, entity
%span.admin_buttons
  = link_to image_tag("delete_button.png"), entity, :method => :delete, :confirm => "Are you sure?"
  = link_to image_tag("remove_button.png", :title => "#{entity.name} is not a #{definition_entity.name} for #{entity_showed.name}?"), association, method: :delete
