.entity_name= link_to_entity entity
%span.admin_buttons
  = render partial: "delete_requests/link", locals: {destroyable: association, link: image_tag("remove_button.png", :title => "#{entity_name(entity)} is not a #{entity_name(definition_entity)} for #{entity_name(entity_showed)}?")} if association
