= form_for(Association.new) do |f|
  = f.hidden_field (inversed ? :associated_entity_id : :entity_id), :value => entity.id
  = f.hidden_field (inversed ? :entity_id : :associated_entity_id), id: "associated_entity_id"
  = f.hidden_field :association_definition_id, :value => definition.id
  = autocomplete_field_tag :associated_entity_name, '', autocomplete_name_value_entities_path, id: "add_association_field", id_element: "#associated_entity_id"
  = f.submit "Add"
