%html
  %head
    %title Encyclo
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    #my_site
      #navigation
        #top_navigation
          #login_navigation
            - unless current_user.is_ip_address
              Logged in as #{current_user.email}
              = link_to "Log out", log_out_path
            - else
              = render partial: "sessions/form"
              or
              = link_to "Sign up", sign_up_path
          #language_navigation
            Language:
            .editable
              = toggle_visibility toggle_handle: current_language.name, toggled_handle: "cancel" do
                = form_tag change_language_sessions_path, method: :get do
                  = select :current_language, :id, ((Language::ALL - [Language::MAP[:universal]]).map{|l| [l.name, l.id]}) 
                  = submit_tag "Set"
      #left-sidebar
        #home_link_which_should_be_an_image
          = link_to "Home", root_path
        #random_entity
          = link_to "Proposed entity", random_entities_path
        #random_document
          Proposed document
        = yield :left_sidebar
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash#{name}"
        = yield
    #user_site
      =yield :user_site
