%html
  %head
    %title Encyclo
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    #my_site
      #navigation
        #login_nav
          - if current_user
            Logged in as #{current_user.email}
            = link_to "Log out", log_out_path
          - else
            = link_to "Sign up", sign_up_path
            or
            = link_to "Log in", log_in_path
          | ---------------------------------
          Language:
          = best_in_place_filter language_filter, :id, (Language.all.sort_by(&:name).map{|l| [l.id, l.name]}), "language_filter"
        #user_nav
          = link_to "Your ranking", set_ranking_type_path(:ranking_type => RankingType::USER), :method => :put
          |
          = link_to "Top ranking", set_ranking_type_path(:ranking_type => RankingType::TOP), :method => :put
          |
          = link_to "Suggestions", set_ranking_type_path(:ranking_type => RankingType::SUGGESTED), :method => :put
          | ---------------- | 
          = link_to "Entity List", set_listing_type_path(:listing_type => ListingType::ENTITY_LIST), :method => :put
          |
          = link_to "Expand", set_listing_type_path(:listing_type => ListingType::EXPANDED), :method => :put
      #left-sidebar
        #home_link_which_should_be_an_image
          = link_to "Home", root_path
        #entity_orphans
          = link_to "Entity orphans", entities_path
        #random_entity
          = link_to "Random entity", random_entities_path
        #random_document
          Random document
        = yield :left_sidebar
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash#{name}"
        = yield
    #user_site
      =yield :user_site
